.popup-title {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    min-width: 7.5rem;
    color: #c12020;
}

.popup-detail {
    font-size: 1.2rem;
    font-weight: normal;
    text-align: center;
    min-width: 7.5rem;
    color: #333333;
}

.leaflet-control-layers {
    font-size: 1.125rem;
}

.leaflet-control-layers-base label {
    font-size: 1.125rem;
}

.route-tooltip {
    font-size: 1.2rem;
    font-weight: normal;
    font-family: Helvetica;
    color: #000000;
    background-color: white;
    border: 0.0625rem solid grey;
    border-radius: 0.25rem;
    padding: 0.2857rem;
    text-align: center;
}
