# Virtual environment
.venv/
.env

# Python
__pycache__/
*.pyc
*.pyo

# macOS
.DS_Store
~$*

# Sensitive files
strava_pull.py
stravareader.py

# Office temp files
maps/
*.xlsx
*.ai
*.csv
*.json
*.kml
inreach_pull.py
pull_route.py
